* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

html {
color: #eee;
font-size: 10px;
font-family: 'Roboto', sans-serif;
}

body {
background: url("../images/sitebg.jpg") no-repeat center fixed;
background-size: cover;
height: 100%;
width: 100%;
}

section {
padding: 6rem 0;
}

a {
color: #eee;
text-decoration: none;
}

p {
font-size: 1.8rem;
font-weight:300;
}

img {
width: 100%;
}

header {
height: 100vh;
width: 100%;
}

li {
margin: 0 2rem;
}

.nav-list {
align-items: center;
display: flex;
height: 100%;
justify-content: center;
list-style: none;
width: 100%;
}

nav-list {
align-items: center;
display: flex;
height: 100%;
justify-content: center;
list-style: none;
}

.container {
height: 100%;
margin: 0 auto;
max-width: 120rem;
position: relative;
width: 90%;
}

.section-heading {
margin-bottom: 8rem;
text-align: center;
}

.section-heading h1 {
color: rgba(255, 255, 255, .3);
font-size: 3.5rem;
font-weight: 300;
margin-bottom: 1rem;
position: relative;
text-transform: uppercase;
}

.section-heading h1::before,
.section-heading h1::after {
background-color: rgba(255,255,255,0.75);
bottom: -.5rem;
content: "";
left: 50%;
position: absolute;
transform: translateX(-50%);
}

.section-heading h1::before {
border-radius: .8rem;
bottom: -1rem;
height: 3px;
width: 10rem;
}

.section-heading h1::after {
border-radius: 100%;
height: 1.5rem;
width: 1.5rem;
}

.section-heading h6 {
font-size: 1.6rem;
font-weight: 300;
}

.has-margin-right {
margin-right: 5rem;
}

.top-nav {
background-color: #16162d;
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
height: 100vh;
position: fixed;
top: -100vh;
transition: all 650ms cubic-bezier(1,0,0,1);
width: 100%;
z-index: 50;
}

.nav-link {
font-family: 'Dancing Script', cursive;
font-size: 5rem;
padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
background: linear-gradient(to top, #CAD3C8, #e84393);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.top-nav.open {
border-radius: initial;
top: 0;
}

.menu-toggler {
cursor: pointer;
display: flex;
flex-direction: column;
height: 4rem;
justify-content: space-between;;
position: absolute;
right: 5rem;
top: 5rem;
transition: transform 650ms ease-out;
width: 5rem;
z-index: 100;
}

.menu-toggler.open {
transform: rotate(-45deg);
}

.bar {
background: linear-gradient(to top, #CAD3C8, #e84393);
border-radius: .8rem;
height: 4px;
width: 100%;
}

.bar.half {
width: 50%;
}

.bar.start {
transform-origin: right;
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
transform: rotate(-450deg) translateX(.8rem);
}

.open .bar.end {
transform: rotate(-450deg) translateX(-.8rem);
}

.bar.end {
align-self: flex-end;
transform-origin: left;
transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.landing-text {
position: absolute;
left: 50%;
text-align: center;
top: 50%;
transform: translate(-50%, -50%);
width: 100%;
z-index: 1;
}

.landing-text h1 {
background: linear-gradient(to top, #204051, #084177);
font-family: 'Dancing Script', cursive;
font-weight: 400;
font-size: 15rem;
padding: 1rem;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
user-select: none;
}

.landing-text h6 {
font-size: 2.5rem;
font-weight: 100;
}

.about .container {
align-items: center;
display: flex;
justify-content: center;
}

.about-heading {
line-height: 0;
margin-bottom: 6rem;
text-align: center;
text-transform: uppercase;
}

.about-heading h1{
font-size: 10rem;
opacity: .3;
}

.about-heading h6 {
font-size: 2rem;
font-weight: 300;
}

.about-details p {
margin-bottom: 10px;
}

.profile-img {
flex 1;
width: 50%;
margin-right: 5rem;
}

.about-details {
flex: 1;
}

.social-media {
margin-top: 4rem;
}

.social-media i {
font-size: 4rem;
transition: color 650ms;
}

.fa-github-square:hover {
color: #3E2C00;
}

.fa-linkedin:hover {
color: #2867B2;
}

.my-skills {
text-align: center;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
grid-gap: 2.5rem;
margin-top: 10rem;
}

.skill {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
padding: 2rem;
}

.skill h1 {
letter-spacing: 2px;
margin: 2rem -2px rem 0;
text-transform: uppercase;
}

.icon-container {
background-color: #487eb0;
border: 3px solid #F8EFBA;
display: flex;
height: 10rem;
margin-bottom: 4rem;
transform: rotate(45deg);
width: 10rem;
}

.icon-container i {
color: #F8EFBA;
font-size: 5rem;
margin: auto;
transform: rotate(-45deg);
}

.portfolio-item {
align-items: center;
display: flex;
justify-content: center;
}

.portfolio-item:last-child{
margin-bottom: 0;
}

.portfolio-img {
flex: 1;
}

.portfolio-description {
flex: 1;
}

.portfolio-description h6 {
font-size: 1.5rem;
font-weight: 300;
opacity: 0.3;
text-transform: uppercase;
}

.portfolio-description h6 {
font-size: 3rem;
font-weight: 300;
margin 1rem 0;
opacity: 0.3;
text-transform: uppercase;
}

.portfolio-description .cta {
color: #3883ff;
display: inline-block;
font-size: 1.5rem;
margin-top: 2.5rem;
text-transform: uppercase;
transition: color 650ms;
}

.portfolio-description .cta:hover {
color: #2f67cd;
}

.timeline ul {
border-left: 4px solid #ffe838;
border-radius: .8rem;
background-color: rgba(0,0,0,.05);
list-style: none;
margin: 0 auto;
position: relative;
padding: 5rem;
text-align: left;
width: 70%;
}

.timeline h1 {
font-size: 2rem;
font-weight: 300;
margin-bottom: 1rem;
opacity: .3;
text-transform: uppercase;
}

.timeline .date {
border-bottom: 1px solid rgba(255,255,255,0.1);
margin-bottom: 1rem;
padding-bottom: 1rem;
position: relative;
}

.timeline .date:last-of-type {
border: none;
margin-bottom: 0;
padding-bottom: 0;
}

.timeline .date::before,
.timeline .date::after {
display: block;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.timeline .date::before {
content: attr(data-date);
font-size: 1.5rem;
left: -23rem;
min-width: 12rem;
text-align: right;
}

.timeline .date::after {
background-color: #313534;
box-shadow: 0 0 0 4px #fd57bf;
border-radius: 100%;
content: "";
height: 1.5rem;
left: -8rem;
width: 1.5rem;
}

.contact {
background-color: #221e3f;
}

form {
margin: 0 auto;
width: 70%;
}

form label {
1.5rem;
}

input, select, textarea {
border: none;
margin-bottom: 5px;
outline-color:  #fd57bf;
padding: 1rem;
width: 100%;
}

input[type="submit"] {
background-color: #fd57bf;
border-radius: .8rem;
color: #eee;
cursor: pointer;
padding: 1rem 2rem;
transition: background-color 650ms;
width: initial;
}

input[type="submit"]:hover {
background-color: #ffe838;
color: #221e3f;
}

.copyright {
background-color: #16162d;
padding: 2rem 0;
position: relative;
text-align: center;
width: 100%;
}

.up {
animation: pulse 2s infinite;
border-radius: 100%;
cursor: pointer;
display: flex;
height: 5rem;
position: absolute;
width: 5rem;
background-color: #eee;
top: -2.5rem;
right: 5rem;
}

.up i {
color: #16162d;
font-size: 2rem;
margin: auto;
}

.copyright p {
font-size: 1.4rem;
}

@keyframes pulse {
0%{
  box-shadow: 0 0 0 0 rgba(253 , 87, 191, 0.99);
}
70%{
  box-shadow: 0 0 0 2rem rgba(253 , 87, 191, 0);
}
100%{
  box-shadow: 0 0 0 0 rgba(253 , 87, 191, 0);
}
}

/******************************MEDIA QUERIES***********************************/

@media screen and (max-width: 768px) {
body {
  background: url("../images/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}

.landing-text h1 {
  font-size: 15rem;
}

.landing-text h6 {
  font-size: 1.7rem;
}

.nav-list {
  flex-direction: column;
}

li {
  margin: 2rem 0;
}

.nav-link {
  font-size: 4.5rem;
}

.about-heading h1 {
  font-size: 8rem;
}

.section-heading h1 {
  font-size: 3rem;
}

.about-details .nav-list {
  flex-direction: initial;
}

.about-details li {
  margin: 0 2rem;
}

.icon-container {
  height: 7rem;
  width: 7rem;
}

.icon-container i {
  font-size: 4rem;
}

.timeline ul {
  margin: 0 0 0 auto
}

.timeline .date::before {
  left: -20rem;
}

.timeline .date::after {
  left: -5.9rem;
}
}

@media screen and (max-width: 600px) {
.menu-toggler {
  right: 2rem;
  top: 2rem;
}

.landing-text h1 {
  font-size: 8rem;
}

.landing-text h6 {
  font-size: 1.4rem;
}

.nav-link {
  font-size: 3.5rem;
}

.about .container {
  flex-direction: column;
}

.profile-img {
  margin: 0 0 7rem 0;
}

.image {
  position: relative;
  right: 100rem;
}

.portfolio-item {
  flex-direction: column;
}

.portfolio-img {
  order: 1;
  margin: 0 0 2rem 0;
}

.portfolio-description {
  order: 2;
  margin: 0;
}

.timeline p {
  font-size: 1.6rem;
}

.timeline .date::before {
  font-size: 1.3rem;
}

form {
  width: 100%;
}

.up {
  right: 2rem;
}
}

@media screen and (min-width: 768px) {
.nav-list a {
  font-size: 2.8rem;
}
}

@media screen and (min-width: 830px) {
.nav-list a {
  font-size: 3rem;
}
}

@media screen and (min-width: 980px) {
.nav-list a {
  font-size: 4rem;
}
}

@media screen and (min-width: 1200px) {
.nav-list a {
  font-size: 5rem;
}
}

/**********************************SKILLS************************************/

.skill-container {
align-items: center;
display: flex;
justify-content: center;
min-height: 20vh;
}

.card {
align-items: center;
background: #353b48;
border: 3px solid #487eb0;
border-radius: 10px;
display: flex;
height: 270px;
justify-content: center;
margin-right: 25px;
padding: 0 1em;
position: relative;
text-align: center;
transition: 0.5s;
}

.card:hover {
transform: translateY(-10px);
box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.skill-svg {
width: 150px;
position: relative;
height: 150px;
z-index: 1000;
}

.percent {
background: rgb(34, 30, 64);
border-radius: 50%;
box-shadow: inset 0 0 50px #000;
position: relative;
width: 150px;
height: 150px;
z-index: 1000;
}

.number {
align-items: center;
border-radius: 50%;
display: flex;
height: 100%;
justify-content: center;
left: 0;
position: absolute;
top: 0;
width: 100%;
}

.number h2 {
  color: #777;
  font-weight: 700;
  font-size: 30px;
  transition: 0.5s;
}

.card:hover .number h2{
color: #fff;
font-size: 38px;
}

.number h2 span {
font-size: 18px;
}

.skill-text {
color: #777;
font-weight: 700;
font-size: 18px;
letter-spacing: 1px;
margin-top: 10px;
position: relative;
transition: 0.5s;
}

.card:hover .skill-text {
color: #fff;
}

.skill-svg circle {
width: 100%;
height: 100%;
fill: none;
stroke: #191919;
stroke-width: 10;
stroke-linecap: round;
transform: translate(5px, 5px);
}

.skill-svg circle:nth-child(2) {
stroke-dasharray: 440;
stroke-dasharray: 440;
}

.card:nth-child(1) .skill-svg circle:nth-child(2) {
stroke-dashoffset: calc(440 - (440 * 53) / 100);
stroke: #ffac41;
}

.card:nth-child(2) .skill-svg circle:nth-child(2) {
stroke-dashoffset: calc(440 - (440 * 48) / 100);
stroke: #116979;
}

.card:nth-child(3) .skill-svg circle:nth-child(2) {
stroke-dashoffset: calc(440 - (440 * 48) / 100);
stroke: #f8fab8;
}

.card:nth-child(4) .skill-svg circle:nth-child(2) {
stroke-dashoffset: calc(440 - (440 * 62) / 100);
stroke: #75daad;
}

.card:nth-child(5) .skill-svg circle:nth-child(2) {
stroke-dashoffset: calc(440 - (440 * 55) / 100);
stroke: #4a47a3;
}
